#checkout{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 1024px;
  max-width: 100%;
  margin: auto;
  padding: 16px;
  font-size: 11px;
  color: #000000;
  background: #f2f2f2;
  outline: none;
  box-sizing: border-box;

  *, *:hover, *:focus{
    outline: none;
    box-sizing: border-box;
  }

  .form{

    &__section{

    }

    &__title{
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
    }

  }

  .summary{
    position: relative;
    left: 0;
    top: 0;
    width: 276px;
    max-width: 100%;
    padding: 20px 16px 40px 16px;
    border-radius: 2px;
    background-color: #FFFFFF;

    &::before{
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      right: 5px;
      bottom: 5px;
      border: 1px dashed #dcdcdc;
      border-radius: 2px;
    }

    &__title{
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
    }

  }

  @media screen and (min-width: 992px){
    flex-direction: row;
    padding: 16px 86px 36px 56px;
  }

}
